<% @time_logger = time_logger_for(User.current) %>
<% if @time_logger.present? %>
  <%# a time tracker is running %>
  <%# display link to tracking issue time tracker itself and pause/resume stop actions %>
  <%= render :partial => 'time_loggers/show', :formats => [:html] %>
<% elsif !(@issue.nil? || @issue.new_record?) && User.current.allowed_to?(:log_time, @issue.project) %>
    <%# No time tracker is running, but the user look at an issue and he has the rights to track time on it %>
    <%# Display the start time tracker action on this issue %>
  <%= link_to(time_logger_start_path(:issue_id => @issue.id), :method => :get, :remote => true, :class => 'icon icon-start icon-action') do %>
    <%= content_tag(:span, %{#{l(:start_time_logger)} ##{@issue.id}}, :id => 'time-logger-issue-id') %>
  <% end %>
<% elsif global_allowed_to?(User.current, :log_time) %>
    <%# No time tracker is running but the user has the rights to track time on a project %>
    <%# Display the "Not running" entry %>
    <span class='icon-action icon-time-not-running'><%= l(:time_logger_not_running) %>&nbsp;</span>
<% end %>

<% if User.current.allowed_to?(:log_time, nil, :global => true) || User.current.allowed_to?(:view_others_time_loggers, nil, :global => true) %>
  <%= list_link %>
<% end %>